*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 195vh;
    background-color: yellow;
}

h1{
    font-size: 2.1rem;
    text-align: center;
}

.lists{
    width: 30rem;
    height: 65rem;
    background-color: none;
    margin-left: 37rem;
}

.Box{
    width: 8rem;
    height: 8rem;
    background-color:green;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: width 2s;
}

.Box:hover{
       width: 300px;
}

.Box1{
    width: 8rem;
    height: 8rem;
    background-color:green;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: width 2s, height 4s;
}

.Box1:hover{
       width: 300px;
       height: 300px;
}

.Box2{
    width: 8rem;
    height: 8rem;
    background-color:green;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: width 2s linear;
}

.Box2:hover{
    width: 300px;
}

.Box3{
    width: 8rem;
    height: 8rem;
    background-color:green;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: width 2s ease;
}

.Box3:hover{
       width: 300px;
}

.Box4{
    width: 8rem;
    height: 8rem;
    background-color:green;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: width 2s ease-in;
}

.Box4:hover{
       width: 300px;
}
.Box5{
    width: 8rem;
    height: 8rem;
    background-color:green;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: width 2s ease-out;
}

.Box5:hover{
       width: 300px;
}

.Box6{
    width: 8rem;
    height: 8rem;
    background-color:green;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: width 2s ease-in-out;
}

.Box6:hover{
       width: 300px;
}


#a1{
    font-size: 2rem;
    color: rgb(12, 12, 99);
    text-shadow: 1px 1px 1px rgb(65, 32, 21);
}
#a2{
    font-size: 2rem;
    color: rgb(12, 12, 99);
    text-shadow: 1px 1px 1px rgb(8, 8, 86);
}
